<section class="contact">
  <div class="contact">
      <img src="../../assets/imgs/.jpg">
           <h1>Contact Us</h1>
         <a href="#" class="btn btn-lg btn-primary">Contact Us</a>
   </div>
</section>


<section class="form">
    <div class="container">
        <h1 class="text-center">contact works!</h1>
         <form>
        <p>Name<br>
       <input type="text" ng-model="name">
        </p>
        <p>Email<br>
        <input type="email" ng-model="email">
       </p>
      </form>
  </div>
</section>
